<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${person.getName()}">Person</title>
</head>
<body>
<p th:text="${person.getName()+' , '+person.getAge()}">VALUE</p>
<p th:text="${person.getEmail()}">VALUE</p>
<p th:text="${person.getId()}">VALUE</p>
<hr>
<p>Items:</p>
<div th:each="item : ${person.getItem()}" th:text="${item.getName().toUpperCase()}">VALUE</div>
<hr>
<a th:href="@{/people}">Back to all people</a>
<br>
<a th:href="@{/people/{id}/edit(id=${person.getId()})}">Edit</a>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete">
</form>
</body>
</html>